* {
    margin: 0;
    box-sizing: border-box;
}

body {
    background-color: #d6edd1;

    background-image: url("assets/ricepaper2.png");

    background-repeat: repeat;
}

header {
    height: 130px;
    width: 100%;
    display: flex;

    justify-content: center;
}

#logo {
    height: 120px;
}
#header_text {
    /* left: 250px; */
    font-size: 50px;
    font-family: "Pacifico", cursive;
    display: flex;
    flex-direction: row;
    align-items: center;
}

#wrapper {
}

#main {
    margin: 0;
    width: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
}

#main_page_form {
    display: flex;
    flex-direction: row;
}

#master_wrapper {
    width: 90%;
}

#card_container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

#card:hover {
    -webkit-animation: swing 1s ease;
    animation: swing 1s ease;
    -webkit-animation-iteration-count: 1;
    animation-iteration-count: 1;
}

#card {
    width: 250px;
    left: 5px;
    right: 5px;
    margin: 2%;
    background-color: #8ed3aa;
    border: 3px solid #23231a;
    border-radius: 15px;
    align-items: center;
    font-family: "Indie Flower", cursive;
}

#title_text {
    height: 20px;
}

#description_text {
    height: 20px;
}

#username_text {
    height: 20px;
}
#upload_button {
    height: 20px;
}
.image:hover {
    -webkit-filter: grayscale(0%);
    filter: grayscale(0%);
}

.image {
    border: 3px solid #23231a;
    margin-top: 10px;
    margin-left: 10px;
    margin-right: 10px;
    border-radius: inherit;
    cursor: pointer;
    top: 5px;
    height: 250px;
    width: 225px;
    object-fit: cover;
    overflow: hidden;

    border-radius: inherit;
    -webkit-filter: grayscale(100%);
    filter: grayscale(100%);
}

.card_text {
    left: 30px;
}

/* MODAL CARD */

#modal-wraper {
    background-color: rgba(128, 128, 128, 0.8);
    position: fixed;
    border-radius: 15px;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    text-align: center;
    align-items: center;
    left: 10px;
    right: 10px;
    top: 10px;
    bottom: 10px;
}

#modal_cards {
    width: 70%;
    height: 90%;
    background-color: #8ed3aa;
    border: 3px solid #23231a;
    border-radius: 15px;
    align-items: center;
    font-family: "Indie Flower", cursive;
}
#pop-pic {
    width: 50%;

    margin-top: 1%;
    border-radius: inherit;
}

#comment {
}

#comment-field {
    background-color: white;
    overflow: scroll;
    background-color: white;
    left: 5%;
    right: 5%;
    height: 100px;
    border-radius: 15px;
}

#more_button {
    width: 10%;
    top: 10px;
    bottom: 10px;
}
#modal_description {
    font-size: 10px;
    display: flex;
    flex-direction: row;
}

#modal_coments {
    margin-bottom: 1%;
    border-radius: inherit;
}
#close_button {
}
